
.outer {
    width: 100%; /* Ensure the outer div takes up the full width */
    margin: 0 auto; /* Center the outer div horizontally */
    padding: 16px; /* Add padding for spacing */
}

.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; /* Full width */
    margin: 0 auto;
    border: 3px solid #8ca8d3;
}
.tabs-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px; /* Horizontal padding */
}
