.deleteButton {
    background-color: rgb(225, 90, 90); 
    border: 2px solid rgb(234, 132, 132); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
